body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  a-scene {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
  }
  